.blank {
  display:inline-block;
  min-width:2em;
  border-bottom: 1px solid black;
  background-color: red;
  border-radius: 0.25em;
  padding: 0 0.25em;
}

.word {
  display: inline-block;
  background-color: red;
  border-radius: 0.25em;
  padding: 0.1em 0.25em;
  cursor: pointer;
  user-select: none;
}