.blank {
  display:inline-block;
  min-width:2em;
    background-color: var(--ifm-color-emphasis-300);
  border-radius: 0.25em;
  padding: 0 0.25em;
  transition: background-color 200ms;
}

.blank.correct {
    border: 2px solid var(--ifm-color-success);
}

.blank.incorrect {
    border: 2px solid var(--ifm-color-danger);
}

.word {
  display: inline-block;
  background-color: var(--ifm-color-emphasis-300);
  border-radius: 0.25em;
  padding: 0.1em 0.25em;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms;
}

.word:hover {
  background-color: var(--ifm-color-emphasis-400);
}

.wordbank {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em 0.25em;
    justify-content: center;
    padding: 1em;
    background-color: var(--ifm-color-emphasis-200);
    border-radius: 1em;
}

.hidden {
    height: 0;
    width: 0;
    overflow: hidden;
    display: inline-block;
}

.checkButton {
    margin: auto;
    display: block;
    font-size: 150%;
    background-color: var(--ifm-color-primary);
    border: none;
    border-radius: 0.4em;
    cursor:pointer;
    transition: background-color 300ms;
    padding: 0.25em 0.5em;
}

.checkButton:hover {
    background-color: var(--ifm-color-primary-darker);
}