/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #db1038;
  --ifm-color-primary-dark: #c50e32;
  --ifm-color-primary-darker: #af0d2d;
  --ifm-color-primary-darkest: #990b27;
  --ifm-color-primary-light: #df284c;
  --ifm-color-primary-lighter: #e24060;
  --ifm-color-primary-lightest: #e65874;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ee0b38;
  --ifm-color-primary-dark: #d60a32;
  --ifm-color-primary-darker: #be092d;
  --ifm-color-primary-darkest: #a70827;
  --ifm-color-primary-light: #f0234c;
  --ifm-color-primary-lighter: #f13c60;
  --ifm-color-primary-lightest: #f35474;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
